.landing {
    position: relative;
    img {
        height: calc(100vh - 50px);
        object-fit: cover;
    }
    .content {
        position: absolute;
        padding: 5%;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        background: rgb(35,31,31);
        background: radial-gradient(circle, #231F1F 0%, #231f1f33 100%);
        border: 0px solid black;
        border-radius: 50%;
        width: max-content;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #D7BA88;
    }
}

.popular-menu {
    .card {
        img {
            max-height: 300px;
            object-fit: cover;
        }
    }
}